<div class="title">
  Question: <%= @question.title %>
</div>
<div class="description">
  Description: <%= @question.description %>
</div>
<div class="department">
  Department: <%= @question.department %>
</div>
<% if current_user == @question.user && current_user || current_user.admin %>
  <button class="edit">Edit Answer</button>
  <%= link_to "Delete Answer", @question, method: :delete, data: {confirm: "are you sure?"} %>
<% end %>
