<h1><%= @department.name %> Questions</h1>

<% @department.questions.each do |d| %>
    <div class="title">
      <a href="<%= question_path(d) %>">Question: <%= d.title %></a>
    </div>
    <div class="description">
      Description: <%= d.description %>
    </div>
    <br>
<% end %>
